.hero {
      padding: 10px;
}

.herotext{
      font-size: 1.5rem;
      padding: 5px;
      margin: 10px;
      font-weight: bold;
      font-family: san-serif;
}
.list {
      text-align: center;
      margin: auto;
      transition: box-shadow 0.3s ease, transform 0.3s ease;

      
}
.list:hover {
      border: 1px solid #ccc;
      padding: 0;
      width: 160px;
      height: 180px;
      border-radius: 10px;
     transition: box-shadow .5s;
     background: #fff;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
     transform: translateY(-5px);
      
    }
    
.img {
      display: block;
      align-items: center;
      margin: auto;
}