.hero {
      padding: 10px;
}

.herotext{
      font-size: 1.5rem;
      padding: 5px;
      margin: 10px;
      font-weight: bold;
      font-family: san-serif;
}
.list {
      text-align: center;
      margin: auto
      
      
}
.list:hover {
      border: 1px solid #ccc;
      width: 160px;
      height: 200px;
      margin: auto;
      border-radius: 10px;
     transition: box-shadow .5s;
     background: #fff;
     box-shadow: 0 0 11px rgba(33,33,33,.2); 

}
.img {
      display: block;
      align-items: center;
      margin: auto;
}